<!DOCTYPE html>
<html>
  <head>
    <title>EphemeralTodo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <header class="hero is-primary">
      <div class="hero-body">
          <h1 class="title">
            Ephemeral To Do
          </h1>
          <h2 class="subtitle">
            Nothing last forever
          </h2>
        
      </div>
    </header>
    <section class="section">
      <%= yield %>
    </section>
  </body>
</html>
